:root {
    --text: #0f0a0a;
    --background: #fcfcfc;
    --primary: #091162;
    --secondary: #c5c4b5;
    --accent: #e0b31f;
}

* {
    margin: 0;
    padding: 0;
}

/* left and right content */

.wrapper {
    display: flex;
}

.left,
.right {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* left content */

.left {
    background-color: var(--primary);
    color: var(--background);
}

.left-content {
    padding: 7em;
}

.left h1 {
    font-family: "Raleway";
    font-size: 6rem; /* 3.5rem */
}

.left p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 2.5rem; /* 1.5rem */
}

/* right content */

.right {
    background-color: var(--background);
    color: var(--text);
}

.right h3 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 4rem; /* 2rem */
    margin-bottom: 1em;
}

.right form {
    font-family: "Roboto";
    font-weight: 300;
}

.right label {
    font-size: 2rem; /* 16px */
    line-height: 2.5em;
}

.right input {
    font-family: "Roboto";
    font-weight: 300;
    background-color: #E7E7E7;
    border: #b4b1b1 2px solid;
    min-height: 2.5em;
    font-size: 2rem;
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 0 1em;
}

.right input:focus::placeholder {
    color: #bbb9b9;
}

.right input:focus {
    outline: none;
    border: #666565 2px solid;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-button {
    text-align: center;
}

.login,
.signup {
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 300;
    min-width: 360px; /* 180px */
    min-height: 80px;
    border-radius: 0.25em;
    border: none;
}

.login {
    color: var(--background);
    background: var(--primary);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.signup {
    color: var(--text);
    background: var(--background);
}

/* media queries */

@media (max-width: 1600px) {
    
    .left h1 {
        font-size: 3.5rem; /* 3.5, 6rem */
    }

    .left p {
        font-size: 1.5rem; /* 1.5, 2.5rem */
    }

    .right h3 {
        font-size: 2.5rem; /* 2, 4rem */
    }

    .right label {
        font-size: 1rem; /* 1, 2rem */
    }

    .right input {
        font-size: 1rem; /* 1, 2rem */
    }

    .login,
    .signup {
        font-size: 1rem; /* 1rem */
        min-width: 180px; /* 180 360px */
        min-height: 40px; /* 40 80px */
    }
}

@media (max-width: 992px) {
    html,body {
        overflow-x: hidden;
    }

    .wrapper {
        display: block;
    }

    .left-content,
    .right-content {
        padding: 2em;
    }

    .right-content h3 {
        text-align: center;
    }

    .left,
    .right {
        width: 100%;
    }
}