:root {
    --text: #0f0a0a;
    --background: #fcfcfc;
    --primary: #091162;
    --secondary: #c5c4b5;
    --accent: #e0b31f;
}

/* left and right content */

.wrapper {
    display: flex;
}

.left,
.right {
    width: 50%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: min(4em, 8%)
}

/* left content */

.left {
    background-color: var(--primary);
    color: var(--background);
}

.left h1 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2rem + 2.5vw, 5rem);
    margin: 0.25em 0;
}

.left p {
    font-family: "Roboto";
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    font-weight: 200;
    margin: 0.25em 0;
}

/* right content */

.right {
    background-color: var(--background);
    color: var(--text);
}

.right h3 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 2rem;
    font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
    text-align: center;
    margin: 0.5em 0;
}

.right form {
    font-family: "Roboto";
    font-weight: 300;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right input {
    width: 80%;
    margin: 0.5em auto;
}

.right input {
    font-family: "Roboto";
    font-weight: 300;
    background-color: #E7E7E7;
    border: #b4b1b1 2px solid;
    font-size: 1rem;
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    padding: 0.5em;
    border-radius: 0.25rem;
}

.right input:focus::placeholder {
    color: #bbb9b9;
}

.right input:focus {
    outline: none;
    border: #666565 2px solid;
}

.login,
.signup {
    font-family: "Roboto";
    font-size: 1rem;
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    font-weight: 300;
    padding: 0.5em;
    border-radius: 0.25em;
    border: none;
    margin: 0.25em auto;
    width: 40%;
}

.login {
    color: var(--background);
    background: var(--primary);
}

.signup {
    color: var(--text);
    background: var(--background);
}

/* media queries */
@media (max-width: 992px) {
    html,body {
        overflow-x: hidden;
    }

    .wrapper {
        display: block;
    }

    .left,
    .right {
        width: 100%;
    }
}